@use 'sass:list';
@use "../../styles" as styles;


@mixin dateTimeButtonSingleColors($grays){
    $gray1: list.nth($grays, 1); // text
    $gray2: list.nth($grays, 2); // hover
    $gray3: list.nth($grays, 3); // element
    $gray4: list.nth($grays, 4); // background
    $gray5: list.nth($grays, 5);
    $gray6: list.nth($grays, 6);

    .tsi-dateTimeButton {
        background-color: $gray5;
        color: $gray1;        
    }
}

.tsi-dateTimeContainerSingle {
    &.tsi-dark{
		$grays: styles.grays('dark');
        @include dateTimeButtonSingleColors($grays);
        .tsi-dateTimeButton {
            background-image: url('../../Icons/dateTimeDark.svg');
        }
	}
	&.tsi-light{
		$grays: styles.grays('light');
        @include dateTimeButtonSingleColors($grays);
        .tsi-dateTimeButton {
            background-image: url('../../Icons/dateTimeLight.svg');
        }
    }

    .tsi-dateTimePickerContainer {
        z-index: 1;
        position: absolute;
        top: 32px;
    }

    .tsi-dateTimeButton {
        height: 32px;
        border: none;
        cursor: pointer;
        padding-left: 32px;
        padding-right: 8px;
        border-radius: 2px;
        background-size: 16px 16px;
        background-position-y: 8px;
        background-position-x: 8px;
        background-repeat: no-repeat;
    }
}