@use 'sass:list';
@use "../../styles" as styles;

@mixin epColors($grays){
    $gray1: list.nth($grays, 1);
    $gray2: list.nth($grays, 2); 
    $gray3: list.nth($grays, 3); 
    $gray4: list.nth($grays, 4); 
    
    .tsi-discreteEvent:focus {
        outline: 1px solid rgba($gray1, .8);
        outline-offset: 2px;
        &.tsi-discreteEventTeardrop {
            outline-offset: -4px;
        }
    }
    @include styles.chartColors($grays);
}

.tsi-eventsGroup {
    
    &.tsi-dark{
        $grays: styles.grays('dark');
        @include epColors($grays);
    }

    &.tsi-light{
        $grays: styles.grays('light');
        @include epColors($grays);
    }
}