@use 'sass:list';
@use "../../styles" as styles;

@mixin hmcColors($grays){
    $gray1: list.nth($grays, 1); // text
    $gray2: list.nth($grays, 2); // hover
    $gray3: list.nth($grays, 3); // element
    $gray4: list.nth($grays, 4); // background
    
    color: $gray1;
    @include styles.chartColors($grays);

    .tsi-heatmapColorLegend {
        .highlightedValueLine {
            stroke: $gray1;
        }

        text {
            fill: $gray1;
        }
    }
}

.tsi-heatmapCanvasWrapper {
    overflow: visible;
    &.tsi-dark{
        $grays: styles.grays('dark');
        @include hmcColors($grays);
    }
    &.tsi-light{
        $grays: styles.grays('light');
        @include hmcColors($grays);
    }
    .tsi-heatmapColorLegend {
        top: 0px;
        position: absolute;
        overflow: visible;

        text {
            font-size: 11px;
            text-anchor: end;
            dominant-baseline: middle;
            stroke: none;
        }

        .highlightedValueLine {
            fill: none;
            stroke-width: 2px;
            pointer-events: none;
        }

        .highlightedValueText {
            font-size: 12px;
        }
    }
}


