@use 'sass:list';
@use "../../styles" as styles;



.tsi-dark{
    $grays: styles.grays('dark');
    @include styles.baseContextMenuColors($grays);
    .tsi-actionElementContainer {
        .tsi-actionElement {
            &.tsi-hasSubMenu {
                background: url(../../Icons/CaretClosed_Dark_Theme.svg);
            }
        }
    }
}
.tsi-light{
    $grays: styles.grays('light');
    @include styles.baseContextMenuColors($grays);
    .tsi-actionElementContainer {
        .tsi-actionElement {
            &.tsi-hasSubMenu {
                background: url(../../Icons/CaretClosed_Light_Theme.svg);
            }
        }
    }
}

.tsi-contextMenu {
    display: none;
    position: absolute;
    z-index: 3;
    .tsi-actionElementContainer {
        @extend .tsi-baseContextMenu;
        height: auto;
        max-width: 200px;
        z-index: 3;
        overflow-y: auto;
        display: block;
        position: absolute;
        overflow-y: auto;
    
        .tsi-actionElement {
            padding: 4px 16px;
            cursor: default;
            font-size: 12px;
            &.tsi-hasSubMenu {
                background-repeat: no-repeat;
                background-position: calc(100% - 4px), 50%;
                background-size: 12px 12px;
            }
        }
    }	
}