@use 'sass:list';
@use "../../styles" as styles;

@mixin spColors($grays){
    $gray1: list.nth($grays, 1); // text
    $gray2: list.nth($grays, 2); // hover
    $gray3: list.nth($grays, 3); // element
    $gray4: list.nth($grays, 4); // background
    
    color: $gray1;
    background: $gray3;

    .tsi-scatterPlotSVG{
        text{
            fill: $gray1;
        }

        .tsi-focusLine {
            stroke: $gray2;
        }
    }
    
    @include styles.chartColors($grays);
}


.tsi-scatterPlot {

    &.tsi-dark{
        $grays: styles.grays('dark');
        @include spColors($grays);
        .tsi-resizeGutter {
            background-image: url(./../../Icons/drag_handle_dark.svg);
        }

    }
    &.tsi-light{
        $grays: styles.grays('light');
        @include spColors($grays);
        .tsi-resizeGutter {
            background-image: url(./../../Icons/drag_handle_light.svg);
        }
    }
    // Hide data type dropdown in scatter plot -- selection has no effect
    .tsi-splitByLabel{
        height: 28px !important;

        .tsi-seriesTypeSelection{
            display: none;
        }
    }

    .tsi-sliderWrapper{
        position: absolute;
        height: 55px;
        bottom: 8px;
        right: 0px;
    }
    
    .tsi-scatterPlotSVG{
        .xAxis, .yAxis text{
            font-size: 12px;
        }
        .tsi-AxisLabel{
            font-weight: 600;
            font-size:13px;
        }
        .tsi-testAxisText{
            visibility: hidden;
        }
        .tsi-focus{
            z-index: -10;
        }
        .tsi-focusLine {
            stroke-width: 1px !important;
            pointer-events: none;
        }
        .tsi-voronoiWrap {
            fill-opacity: 0;
            cursor: crosshair;
        }

        .tsi-voronoiWrap path {
            fill: none;
            pointer-events: all;
            cursor: crosshair;
        }
    }

    display: flex;
    position: relative;
}
